PUBLIC_GA4_ID=G-FY7DXB8BT8
PUBLIC_ZAPIER_WEBHOOK=https://hooks.zapier.com/hooks/catch/27456250/uve5p2e/
PUBLIC_HONEYBOOK_SCHEDULER=https://ballooniaevents.hbportal.co/schedule/69f56e211d0f3cdbbc139a45
PUBLIC_PHONE=
PUBLIC_SUBMIT_MODE=mock
SHOPIFY_STORE_DOMAIN=
SHOPIFY_STOREFRONT_TOKEN=
